.file-manager{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.folder-list{
  border: 4px solid #ccc;
  border-radius: 15px;
  width: 300px;
  margin: 24px auto;
  list-style: none;
  padding: 12px;
}

.file, .folder{
  margin: 12px 0;
  display: flex;
  align-items: center;
  padding: 12px;
}

a{
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.material-icons{
  padding-right: 6px;
}

li:nth-child(odd){
  background: rgba(0, 0, 0, 0.1);
}

.current-level{
  margin: auto;
  font-size: 20px;
}